@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

:root {
  /* --primary-color: #FF6442;
  --primary-color: #EB5C47; */
  --primary-color: #ff5833;
  /* --primary-color: #96a5e7; */
  /* --primary-color: #f59e8b; */
  /* --secondary-color: #4244e5; */
  --secondary-color: #0f056e;
  --third-color: #c1d3fb;
  --dark-color: #333;
  
  --button-width: 40px;
  --button-height: calc(var(--button-width) * .8);
  --rectangle-height: calc(var(--button-width) * .1);
  --rectangle-radius: calc(var(--button-width) * .04);
  --translate: calc(var(--button-width) * .17);
  --transition: 0.45s;
}

::selection {
    background-color: var(--dark-color);
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--dark-color);
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--dark-color);
    color: #fff;
}

::-ms-selection {
    background-color: var(--dark-color);
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--dark-color);
    color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

h1, h2 {
  font-weight: 900;
  line-height: 1.2;
  margin: 10px 0;
  letter-spacing: 1.2px;
}

p {
  margin: 10px 0;
  font-weight: 500;
  letter-spacing: 0.8px;
}

/* img {
  width: 100%;
} */

/* Navbar */

.navbar {
  background-color: #fafafa;
  color: #fff;
  height: 68px;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: 0px 3px 10px rgba(0,0,0, 0.2) !important;
}

.navC {
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #000;
  padding: 10px;
  margin: 0 5px;
}

#Logo {
  margin-top: 10px;
  width: 8rem;
}

#LogoLink {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.navbar a:hover {
  border-bottom: 4px var(--primary-color) solid;
}

.navbar .flex {
  justify-content: space-between;
}

.hamburger {
  position: relative;
  width: 40px;
  height: 32px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.rectangle {
  position: absolute;
  height: var(--rectangle-height);
  background: var(--primary-color);
  border-radius: var(--rectangle-radius);
  transition: transform var(--transition);
}
.rectangle--small {
  width: calc(var(--button-width) / 2);
}
.rectangle--top {
  top: 0;
  left: 0;
  transform-origin: top left;
}
.rectangle--top.open {
  transform: translateX(var(--translate)) rotate(45deg);
}
.rectangle--middle {
  top: 50%;
  left: 0;
  width: var(--button-width);
  transform: translatey(-50%);
}
.rectangle--middle.open {
  transform: translatey(-50%) rotate(-45deg);
}
.rectangle--bottom {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}
.rectangle--bottom.open {
  transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}

.hamburger:focus {
  outline: none;
}

/* Showcase */
.showcase {
  height: 650px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase-text {
  margin-left: 15px;
}

.showcase h1 {
  font-size: 70px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 40% 60%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  height: 100%;
  padding: 15px;
}

#Iphone {
  margin-top: 30px;
  width: 100%;
}

.image {
  align-items: center;
  justify-content:flex-end;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 140px;
  bottom: -50px;
  right: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
}

/* Stats */
.stats {
  padding-top: 120px;
}

.stats-heading {
  max-width: 700px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.stats .grid {
  margin-top: 3rem;
}

.stats i {
  color: var(--primary-color)
}

/* Cli */

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#Stripes {
  width: 90%;
  margin: auto;
}

#cli1 {
  align-self: flex-end;
}
#cli2 {
  align-self: flex-start;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

#cloud img {
  width: 100% !important;
}

/* Technologies */

.technologies .flex {
  flex-wrap: wrap;
}

.technologies img{
  max-width: 95%;
  max-height: 90%;
  padding: auto;
}


.technologies .card {
text-align: center;
margin: 18px 10px 40px;
height: 240px;
width: 180px;
transition: transform 0.1s ease-in;
}

.technologies .card h4 {
  font-size: 20px;
}

.technologies .card:hover {
  transform: translateY(-5px);
}

#html {
  margin-top: 1rem;
}
#css {
  margin-top: 1rem;
  width: 90%;
}
#js {
  margin-top: 1.2rem;
}
#node {
  width: 85%;
  margin-top: 1.2rem;
}
#mongo {
  height: 80%;
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
}
#sql {
  width: 100%;
  margin-top: 0.8rem;
}

/* Footer */
.footer a:hover {
  /* border-bottom: 4px var(--primary-color) solid; */
  color: var(--primary-color);
}

.footer .social a {
  margin: 0 10px;
}

hr.solid {
  border-top: 3px solid #fafafa;
}

@media(max-width: 950px) {
  .showcase h1 {
    font-size: 50px;
  }
  .showcase p {
    font-size: 14px;
  }
}

/* Tablets and under */
@media(max-width: 767px) {
  .nav-ul {
    display: none !important;
    width: 100%;
    flex-direction: column;
  }

  .nav-ul.show {
    display: flex !important;
    padding-bottom: 4rem;
    font-size: 3.5rem;
  }

  .navbar nav {
    display: none;
  }

  .navbar {
    flex-wrap: wrap;
    height: 100%;
  }

  .hamburger {
    display: block;
  }

  .container {
  padding: 0 10px;
  }

  #portfolio {
    margin-bottom: 10px;
  }

  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .image {
    width: 90%;
    margin: auto;
  }

  #Iphone {
    margin-top: 0;
  }
  
  .showcase .grid {
    flex-direction: column-reverse;
  }
}


/* Mobile */
/* @media(max-width: 576px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex
} */